<!-- Page Preloder -->

<!-- Header section -->
<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-2 text-center text-lg-left">
          <!-- logo -->
          <a href="" class="site-logo">
            <img class="col-md-5" src="assets/img/bd.png" alt=" ">
          </a>
        </div>
        <div class="col-xl-2 col-md-3 text-lg-center">
          <h3 class="mb-2 pb-0">DIA Style# </h3>
        </div>
        <!--<div class="col-xl-10 col-md-4 text-lg-right">
					        <span class="profile-ava">
                                <img alt="" src="assets/img/avatar-mini4.jpg">
                            </span>

          <b class="caret"></b>
        </div>-->
      </div>
    </div>
  </div>
</header>

  <nav class="navbar navbar-expand-lg navbar-info bg-info">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/produits">Produits</a>
      <a class="nav-item nav-link" href="/types">Type</a>
    </div>
  </div>
</nav>

